.main-screen {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.top-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  background-color: black;
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/* Info Bar Styling */
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px 0;
  margin-top: 20px;
}

.coins-mined, .mining-efficiency {
  flex-basis: 150px;
  text-align: center;
}

.coins-mined h3, .mining-efficiency h3 {
  font-size: 0.7rem;
  margin: 0;
  margin-top: 20px;
}

/* Progress Bar */
.progress-bar-container {
  flex-grow: 1;
  padding: 0 20px;
}

.progress-bar {
  background-color: #555;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  width: 100%;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, silver, gold);
  transition: width 0.3s ease-in-out;
  border-radius: 20px;
}
